<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>呼叫中心系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/non-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/extend.css">
    <style type="text/css">
      th {
      text-align:center;
      }
      td {
      text-align:center;
      }
      .table .td-icon {
      width:50px;
      }
      .table .td-account {
      width:100px;
      }
      .td-edit {
      width:85px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img alt="Logo" src="/img/logo.png"></a>
          <a class="navbar-brand" href="#">呼叫中心</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/status.php">状态监控</a></li>
            <li><a href="/task.php">任务管理</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">座席管理</a>
              <ul class="dropdown-menu">
                <li><a href="/agent.php">座席管理</a></li>
                <li><a href="/exten.php">分机状态</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">项目管理</a>
              <ul class="dropdown-menu">
                <li><a href="/order.php">订单管理</a></li>
                <li><a href="/customer.php">客户资料管理</a></li>
                <li><a href="/product.php">商品管理</a></li>
                <li><a href="/sounds.php">语音管理</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">通话记录</a>
              <ul class="dropdown-menu">
                <li><a href="/cdr.php">通话记录查询</a></li>
                <li><a href="/report.php">通话数据报表</a></li>
              </ul>
            </li>
            <li><a href="/help.php">帮助文档</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{$user['name']}</a></li>
            <li><a id="account" href="/account.php"{if $alert === true} data-container="body" data-toggle="popover" data-placement="bottom" data-content="您的账户余额已不足"{/if}>我的账户</a></li>
            <li><a href="/logout.php"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container box">
      <div>
        <ol class="breadcrumb">
          <li class="active">当前位置:</li>
          <li><a href="#">座席管理</a></li>
          <li class="active">所有座席</li>
        </ol>
      </div>
      <div>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th class="td-icon text-center">#</th>
              <th class="td-account text-center">座席账号</th>
              <th>座席姓名</th>
              <th>座席类型</th>
              <th>座席状态</th>
              <th>最近登录时间</th>
              <th>最近登录IP地址</th>
              <th>状态操作</th>
              <th class="text-center td-edit">编辑操作</th>
            </tr>
          </thead>
          <tbody class="text-muted">
            {if is_array($agents)}
            {foreach $agents as $agent}
            <tr>
              <td><img src="img/{$agent['img']}" class="img-circle icon" alt="Responsive image"></td>
              <td class="td-account text-center"><b>{$agent['uid']}</b></td>
              <td class="text-primary">{mb_substr($agent['name'], 0, 8, 'UTF-8')}</td>
              <td>普通座席</td>
              <td><span class="badge badge-{if $agent['status'] === 0}danger{/if}{if $agent['status'] === 1}success{/if}">{if $agent['status'] === 0}禁 用{/if}{if $agent['status'] === 1}正 常{/if}</span></td>
              <td>{$agent['last_login']}</td>
              <td>{$agent['last_ipaddr']}</td>
              <td><a class="btn btn-default btn-xs" href="agent.php?action={if $agent['status'] === 0}unlock{/if}{if $agent['status'] === 1}lock{/if}&uid={$agent['uid']}"><span class="glyphicon glyphicon-{if $agent['status'] === 0}ok-circle{/if}{if $agent['status'] === 1}unchecked{/if}"></span> {if $agent['status'] === 0}启 用{/if}{if $agent['status'] === 1}禁 用{/if}</a></td>
              <td class="text-center td-edit"><a class="btn btn-default btn-xs" href="agent/edit.php?uid={$agent['uid']}"><span class="glyphicon glyphicon-edit"></span> 编 辑</button></td>
            </tr>
            {/foreach}
            {/if}

          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/extend.js"></script>
  </body>
</html>
